# {{ ansible_managed }}

[DEFAULT]
# Disable stderr logging
use_stderr = False
debug = {{ debug }}
notification_topics = {{ cloudkitty_notification_topics }}
rpc_backend = {{ cloudkitty_rpc_backend }}

[api]
port = {{ cloudkitty_service_port }}

[collect]
services = {{ cloudkitty_services }}
collector = {{ cloudkitty_collector }}

[cors]

[cors.subdomain]

[database]
connection = {{ cloudkitty_database_connection }}

[keystone_authtoken]
memcached_servers = {{ memcached_servers }}
signing_dir = {{ cloudkitty_signing_dir }}
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ cloudkitty_service_project_domain_id }}
project_name = {{ cloudkitty_service_project_name }}
user_domain_id = {{ cloudkitty_service_user_domain_id }}
password = {{ cloudkitty_service_password }}
username = {{ cloudkitty_service_user_name }}
auth_url = {{ keystone_service_adminurl }}
auth_type = {{ cloudkitty_keystone_auth_plugin }}

[keystone_fetcher]
keystone_version = 3
auth_section = keystone_authtoken

[matchmaker_redis]

[matchmaker_ring]

[oslo_messaging_amqp]

[oslo_messaging_qpid]

[oslo_messaging_rabbit]
rabbit_userid = {{ cloudkitty_rabbitmq_userid }}
rabbit_password = {{ cloudkitty_rabbitmq_password }}
rabbit_hosts = {{ cloudkitty_rabbitmq_servers }}
rabbit_virtual_host = {{ cloudkitty_rabbitmq_vhost }}
rabbit_use_ssl = {{ cloudkitty_rabbitmq_use_ssl }}
rabbit_port = {{ cloudkitty_rabbitmq_port }}

[output]
pipeline = {{ cloudkitty_output_pipeline }}
basepath = {{ cloudkitty_output_basepath }}
backend = {{ cloudkitty_output_backend }}

[state]

[storage]

[tenant_fetcher]


[ceilometer_collector]
auth_section = keystone_authtoken
