# {{ ansible_managed }}
[uwsgi]
uid = {{ cloudkitty_system_user_name }}
gid = {{ cloudkitty_system_group_name }}

virtualenv = /openstack/venvs/cloudkitty-{{ cloudkitty_venv_tag }}
wsgi-file = {{ cloudkitty_bin }}/cloudkitty-wsgi.py
http = :{{ cloudkitty_service_port }}
logto = {{ cloudkitty_log_dir }}/cloudkitty-api.log

master = true
enable-threads = true
processes = {{ cloudkitty_wsgi_processes }}
threads = {{ cloudkitty_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = 65535
thunder-lock = true

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:
