# {{ ansible_managed }}

[DEFAULT]
debug = {{ debug }}
notification_topics = {{ cloudkitty_notification_topics }}
rpc_backend = {{ cloudkitty_rpc_backend }}

[api]
port = {{ cloudkitty_service_port }}

[collect]
services = {{ cloudkitty_services }}
collector = {{ cloudkitty_collector }}

[cors]

[cors.subdomain]

[database]
connection = {{ cloudkitty_database_connection }}

[keystone_authtoken]
memcached_servers = {{ memcached_servers }}
signing_dir = /var/cache/cloudkitty
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ cloudkitty_service_project_domain_id }}
project_name = {{ cloudkitty_service_project_name }}
user_domain_id = {{ cloudkitty_service_user_domain_id }}
password = {{ cloudkitty_user_password }}
username = {{ cloudkitty_username }}
auth_url = {{ keystone_service_adminurl }}
auth_type = {{ cloudkitty_keystone_auth_plugin }}

[keystone_fetcher]
auth_section = authinfos

[matchmaker_redis]

[matchmaker_ring]

[oslo_messaging_amqp]

[oslo_messaging_qpid]

[oslo_messaging_rabbit]
rabbit_userid = {{ cloudkitty_rabbitmq_userid }}
rabbit_password = {{ cloudkitty_rabbitmq_password }}
rabbit_hosts = {{ rabbitmq_servers }}

[output]
pipeline = {{ cloudkitty_output_pipline }}
basepath = {{ cloudkitty_output_basepath }}
backend = {{ cloudkitty_output_backend }}

[state]

[storage]

[tenant_fetcher]

[authinfos]
debug = {{ debug }}
region_name = {{ service_region }}
tenant_name = service
password = {{ cloudkitty_user_password }}
username = {{ cloudkitty_username }}
auth_url = {{ keystone_service_adminurl }}
auth_plugin = {{ cloudkitty_keystone_trustee_auth_plugin }}

[ceilometer_collector]
auth_section = authinfos
