# {{ ansible_managed }}

[Unit]
Description=cloudkitty openstack service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ cloudkitty_system_user_name }}
Group={{ cloudkitty_system_group_name }}

{% if program_override is defined %}
ExecStart={{ program_override }} {{ program_config_options|default('') }} --log-file=/var/log/cloudkitty/{{ item.value.service_name }}.log
{% else %}
ExecStart={{ cloudkitty_bin }}/{{ item.value.service_name }} {{ program_config_options|default('') }} --log-file=/var/log/cloudkitty/{{ item.value.service_name }}.log
{% endif %}

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300
Restart=on-failure
RestartSec=150

[Install]
WantedBy=multi-user.target
